<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.maciej01.niezbednikkreglarza">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:name="io.maciej01.niezbednikkreglarza.SugarOrmTestApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true">

        <meta-data
            android:name="VERSION"
            android:value="5" />
        <activity
            android:name="io.maciej01.niezbednikkreglarza.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout">
            <meta-data android:resource="@xml/searchable" android:name="android.app.searchable"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="io.maciej01.niezbednikkreglarza.WynikActivity"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout">
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="io.maciej01.niezbednikkreglarza.turniej.TurniejActivity"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="io.maciej01.niezbednikkreglarza.turniej.TElementActivity"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout">
        </activity>
        <activity android:label="@string/app_name"
            android:name="io.maciej01.niezbednikkreglarza.StatystykiActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:label="@string/app_name"
            android:name="io.maciej01.niezbednikkreglarza.KontaktActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:label="@string/app_name"
            android:name="io.maciej01.niezbednikkreglarza.NarzedziaActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name="io.maciej01.niezbednikkreglarza.IntroActivity"
            android:label="@string/app_name" />
        <activity
            android:label="@string/app_name"
            android:name="io.maciej01.niezbednikkreglarza.MyPreferencesActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout">
        </activity>
        <activity android:label="@string/app_name"
            android:name="io.maciej01.niezbednikkreglarza.ZmianaActivity"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout">
        </activity>
    </application>

</manifest>